<div class="recipe-detail">
    <div class="recipe-image">
        Recipe-Image
    </div>
    <div class="recipe-name">
        Recipe-Name
    </div>
    <div class="dropdown">
        <button class="button manage-recipe-button">Manage</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="recipe-description">
        Description
    </div>
    <div class="ingredients">
        Ingredients
    </div>
</div>